<%- include('header') -%>
<%- include('navbar') -%>


<h1> ACTUALIZACIONES SEMANALES DE LAS NOVEDADES DEL CENTRO DE CAPACITACIÓN TÉCNICA DE LUQUE</h1>
<p style="height: 800px;"></p>
<%- include('pie') -%>
<%- include('footer') -%>